services:
  suricata:
    build:
      context: ./suricata
    command: ["/bin/sh", "/run-suricata.sh"]
    volumes:
      - ./data:/data
    environment:
      SURICATA_MODE: live
      SURICATA_IFACE: ens33
    cap_add:
      - NET_ADMIN
      - NET_RAW
    network_mode: host

  exporter:
    build:
      context: ./exporter
    depends_on:
      - suricata
    ports:
      - "8080:8080"
    environment:
      HOST_ID: "sensor-01"
      HOST_NAME: "suricata-sensor"
      DB_FILE: "/data/data.db"
      TABLE_NAME: "suricata"
    volumes:
      - ./data:/data
