version: "3.9"

services:
  falco:
    image: falcosecurity/falco:0.42.0
    container_name: falco
    privileged: true
    pid: host
    volumes:
      - /var/run/docker.sock:/host/var/run/docker.sock
      - /dev:/host/dev
      - /proc:/host/proc:ro
      - /boot:/host/boot:ro
      - /lib/modules:/host/lib/modules:ro
      - /usr:/host/usr:ro
      - /etc:/host/etc:ro
      - /sys/kernel/debug:/sys/kernel/debug
      - /sys/kernel/tracing:/sys/kernel/tracing
      - ./data:/data
    command:
      - falco
      - -o
      - json_output=true
      - -o
      - file_output.enabled=true
      - -o
      - file_output.filename=/data/falco.jsonl

  falco-ecs:
    build:
      context: ./ecs-converter
    container_name: falco-ecs
    depends_on:
      - falco
    environment:
      TABLE_NAME: "falco"
    volumes:
      - ./data:/data
    command:
      - --input
      - /data/falco.jsonl
      - --follow
      - --sqlite
      - /data/data.db
      - --reset
      - --no-json


